<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ToolId</key>
		<string>ChristmasStickersTool</string>
		<key>ToolName</key>
		<string>ChristmasStickersTool</string>
		<key>ToolIcon</key>
		<string>christmas</string>
		<key>Title</key>
		<string>Christmas</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>StickersTool</string>
		<key>ToolName</key>
		<string>StickersTool</string>
		<key>ToolIcon</key>
		<string>stickers</string>
		<key>Title</key>
		<string>Stickers</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>TextArtTool</string>
		<key>ToolName</key>
		<string>TextArtTool</string>
		<key>ToolIcon</key>
		<string>textArt</string>
		<key>Title</key>
		<string>Text Art</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>PatternTool</string>
		<key>ToolName</key>
		<string>PatternTool</string>
		<key>ToolIcon</key>
		<string>pattern</string>
		<key>Title</key>
		<string>Pattern</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>OverlayTool</string>
		<key>ToolName</key>
		<string>OverlayTool</string>
		<key>ToolIcon</key>
		<string>overlay</string>
		<key>Title</key>
		<string>Overlay</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>FrameTool</string>
		<key>ToolName</key>
		<string>FrameTool</string>
		<key>ToolIcon</key>
		<string>frame</string>
		<key>Title</key>
		<string>Frames</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>FlareTool</string>
		<key>ToolName</key>
		<string>FlareTool</string>
		<key>ToolIcon</key>
		<string>flare</string>
		<key>Title</key>
		<string>Flare</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>LeakLight</string>
		<key>ToolName</key>
		<string>LeakLight</string>
		<key>ToolIcon</key>
		<string>leaklight</string>
		<key>Title</key>
		<string>Leak Light</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>BokehTool</string>
		<key>ToolName</key>
		<string>BokehTool</string>
		<key>ToolIcon</key>
		<string>bokeh</string>
		<key>Title</key>
		<string>Bokeh</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>SmokeTool</string>
		<key>ToolName</key>
		<string>SmokeTool</string>
		<key>ToolIcon</key>
		<string>smoke</string>
		<key>Title</key>
		<string>Smoke &amp; Dust</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>ShaderTool</string>
		<key>ToolName</key>
		<string>ShaderTool</string>
		<key>ToolIcon</key>
		<string>shade</string>
		<key>Title</key>
		<string>Shader</string>
		<key>subTools</key>
		<array/>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>AdjustmentTool</string>
		<key>ToolName</key>
		<string>AdjustmentTool</string>
		<key>ToolIcon</key>
		<string>adjustment</string>
		<key>Title</key>
		<string>Adjustment</string>
		<key>subTools</key>
		<array>
			<dict>
				<key>ToolId</key>
				<string>BrightnessTool</string>
				<key>ToolName</key>
				<string>BrightnessTool</string>
				<key>ToolIcon</key>
				<string>brightness</string>
				<key>Title</key>
				<string>Brightness</string>
				<key>DefaultValue</key>
				<string>0</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>0.8</string>
				<key>Min</key>
				<string>-0.8</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ContrastTool</string>
				<key>ToolName</key>
				<string>ContrastTool</string>
				<key>ToolIcon</key>
				<string>contrast</string>
				<key>Title</key>
				<string>Contrast</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>4</string>
				<key>Min</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ExposureTool</string>
				<key>ToolName</key>
				<string>ExposureTool</string>
				<key>ToolIcon</key>
				<string>exposure</string>
				<key>Title</key>
				<string>Exposure</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIExposureAdjust</string>
				<key>Max</key>
				<string>10</string>
				<key>Min</key>
				<string>-10</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>SaturationTool</string>
				<key>ToolName</key>
				<string>SaturationTool</string>
				<key>ToolIcon</key>
				<string>saturation</string>
				<key>Title</key>
				<string>Saturation</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>2</string>
				<key>Min</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>VibranceTool</string>
				<key>ToolName</key>
				<string>VibranceTool</string>
				<key>ToolIcon</key>
				<string>vibrance</string>
				<key>Title</key>
				<string>Vibrance</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIVibrance</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>HighlightTool</string>
				<key>ToolName</key>
				<string>HighlightTool</string>
				<key>ToolIcon</key>
				<string>highlight</string>
				<key>Title</key>
				<string>Highlight</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ShadowsTool</string>
				<key>ToolName</key>
				<string>ShadowsTool</string>
				<key>ToolIcon</key>
				<string>shadow</string>
				<key>Title</key>
				<string>Shadows</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>GamaTool</string>
				<key>ToolName</key>
				<string>GamaTool</string>
				<key>ToolIcon</key>
				<string>gama</string>
				<key>Title</key>
				<string>Gama</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIGammaAdjust</string>
				<key>Max</key>
				<string>4</string>
				<key>Min</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>HueTool</string>
				<key>ToolName</key>
				<string>HueTool</string>
				<key>ToolIcon</key>
				<string>hue</string>
				<key>Title</key>
				<string>Hue</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHueAdjust</string>
				<key>Max</key>
				<string>3.141592653589793</string>
				<key>Min</key>
				<string>-3.141592653589793</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>PosterizeTool</string>
				<key>ToolName</key>
				<string>PosterizeTool</string>
				<key>ToolIcon</key>
				<string>posterize</string>
				<key>Title</key>
				<string>Posterize</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorPosterize</string>
				<key>Max</key>
				<string>30</string>
				<key>Min</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>DrawTool</string>
		<key>ToolName</key>
		<string>DrawTool</string>
		<key>ToolIcon</key>
		<string>draw</string>
		<key>Title</key>
		<string>Draw</string>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>CLTextTool</string>
		<key>ToolName</key>
		<string>CLTextTool</string>
		<key>ToolIcon</key>
		<string>text</string>
		<key>Title</key>
		<string>Text</string>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>MemeTool</string>
		<key>ToolName</key>
		<string>MemeTool</string>
		<key>ToolIcon</key>
		<string>meme</string>
		<key>Title</key>
		<string>Meme</string>
		<key>subTools</key>
		<array>
			<dict>
				<key>ToolId</key>
				<string>BrightnessTool</string>
				<key>ToolName</key>
				<string>BrightnessTool</string>
				<key>ToolIcon</key>
				<string>brightness</string>
				<key>Title</key>
				<string>Brightness</string>
				<key>DefaultValue</key>
				<string>0</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>0.8</string>
				<key>Min</key>
				<string>-0.8</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ContrastTool</string>
				<key>ToolName</key>
				<string>ContrastTool</string>
				<key>ToolIcon</key>
				<string>contrast</string>
				<key>Title</key>
				<string>Contrast</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>4</string>
				<key>Min</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ExposureTool</string>
				<key>ToolName</key>
				<string>ExposureTool</string>
				<key>ToolIcon</key>
				<string>exposure</string>
				<key>Title</key>
				<string>Exposure</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIExposureAdjust</string>
				<key>Max</key>
				<string>10</string>
				<key>Min</key>
				<string>-10</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>WarmthTool</string>
				<key>ToolName</key>
				<string>WarmthTool</string>
				<key>ToolIcon</key>
				<string>warmth</string>
				<key>Title</key>
				<string>Warmth</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string></string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>SaturationTool</string>
				<key>ToolName</key>
				<string>SaturationTool</string>
				<key>ToolIcon</key>
				<string>saturation</string>
				<key>Title</key>
				<string>Saturation</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorControls</string>
				<key>Max</key>
				<string>2</string>
				<key>Min</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>VibranceTool</string>
				<key>ToolName</key>
				<string>VibranceTool</string>
				<key>ToolIcon</key>
				<string>vibrance</string>
				<key>Title</key>
				<string>Vibrance</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIVibrance</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>HighlightTool</string>
				<key>ToolName</key>
				<string>HighlightTool</string>
				<key>ToolIcon</key>
				<string>highlight</string>
				<key>Title</key>
				<string>Highlight</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>0.3</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>ShadowsTool</string>
				<key>ToolName</key>
				<string>ShadowsTool</string>
				<key>ToolIcon</key>
				<string>shadows</string>
				<key>Title</key>
				<string>Shadows</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHighlightShadowAdjust</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>TintTool</string>
				<key>ToolName</key>
				<string>TintTool</string>
				<key>ToolIcon</key>
				<string>tint</string>
				<key>Title</key>
				<string>Tint</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIMultiplyCompositing</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>GamaTool</string>
				<key>ToolName</key>
				<string>GamaTool</string>
				<key>ToolIcon</key>
				<string>gama</string>
				<key>Title</key>
				<string>Gama</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIGammaAdjust</string>
				<key>Max</key>
				<string>4</string>
				<key>Min</key>
				<string>0.25</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>HueTool</string>
				<key>ToolName</key>
				<string>HueTool</string>
				<key>ToolIcon</key>
				<string>hue</string>
				<key>Title</key>
				<string>Hue</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIHueAdjust</string>
				<key>Max</key>
				<string>3.141592653589793</string>
				<key>Min</key>
				<string>-3.141592653589793</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>MonochromeTool</string>
				<key>ToolName</key>
				<string>MonochromeTool</string>
				<key>ToolIcon</key>
				<string>monochrome</string>
				<key>Title</key>
				<string>Monochrome</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorMonochrome</string>
				<key>Max</key>
				<string>1</string>
				<key>Min</key>
				<string>0</string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>PosterizeTool</string>
				<key>ToolName</key>
				<string>PosterizeTool</string>
				<key>ToolIcon</key>
				<string>posterize</string>
				<key>Title</key>
				<string>Posterize</string>
				<key>DefaultValue</key>
				<string>-1</string>
				<key>FilterName</key>
				<string>CIColorPosterize</string>
				<key>Max</key>
				<string>30</string>
				<key>Min</key>
				<string>2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>VignetteTool</string>
		<key>ToolName</key>
		<string>VignetteTool</string>
		<key>ToolIcon</key>
		<string>vignette</string>
		<key>Title</key>
		<string>Vignette</string>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>SplashTool</string>
		<key>ToolName</key>
		<string>SplashTool</string>
		<key>ToolIcon</key>
		<string>splash</string>
		<key>Title</key>
		<string>Splash</string>
		<key>subTools</key>
		<array>
			<dict>
				<key>ToolId</key>
				<string>SplashColorTool</string>
				<key>ToolName</key>
				<string>SplashColorTool</string>
				<key>ToolIcon</key>
				<string>color</string>
				<key>Title</key>
				<string>Color</string>
				<key>DefaultValue</key>
				<string></string>
				<key>FilterName</key>
				<string></string>
				<key>Max</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
			<dict>
				<key>ToolId</key>
				<string>SplashEraserTool</string>
				<key>ToolName</key>
				<string>SplashEraserTool</string>
				<key>ToolIcon</key>
				<string>eraser</string>
				<key>Title</key>
				<string>Erase</string>
				<key>DefaultValue</key>
				<string></string>
				<key>FilterName</key>
				<string></string>
				<key>Max</key>
				<string></string>
				<key>Min</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>CLClippingTool</string>
		<key>ToolName</key>
		<string>CLClippingTool</string>
		<key>ToolIcon</key>
		<string>crop</string>
		<key>Title</key>
		<string>Crop</string>
	</dict>
	<dict>
		<key>ToolId</key>
		<string>CLRotateTool</string>
		<key>ToolName</key>
		<string>CLRotateTool</string>
		<key>ToolIcon</key>
		<string>r-left</string>
		<key>Title</key>
		<string>Rotate</string>
	</dict>
</array>
</plist>
